<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Admin Panel | Spanning Tree Protcol</title>
	<link rel="stylesheet" href="/static/css/panelstyle.css" media="all" style="text/css"/>
</head>
<body>


<div id="main">
	<div id="keep">

	</div>
		<div id="left">

			<div id="logo">

			</div>

			<div id="tools">

				<ul>
					<a href="{{ url_for('panel') }}"><li  >Dashboard</li></a>
					<a href="{{ url_for('routing') }}"><li id="menu2">Static-Pusher</li></a>
					<a href="{{ url_for('stp') }}"><li id="menu3" class="select">STP</li></a>
					<a href="{{ url_for('etherchannel') }}"><li id="menu4">EtherChannel</li></a>
					<a href="{{ url_for('dai') }}"><li id="menu5">DAI</li></a>
					<!--a href="#"><li id="menu6">Yorumlar </span></li></a>
					<a href="#"><li id="menu7">Bileşenler</li></a>
					<a href="#"><li id="menu8">Eklentiler <!--span class="number">2</span></li></a>
					<a href="#"><li id="menu9">Kullanıcılar</li></a-->
					<a href="{{ url_for('portsecurity') }}"><li id="menu10">Port Security</li></a>
					<a href="{{ url_for('settings') }}"><li id="menu11">Settings</li></a>
				</ul>

			</div>


		</div>

		<div-- id="right">

			<div id="header">

				<div id="plus">
					<h2 id="p_title">Spanning Tree Protcol</h2>
					<!--a href="#">
						<span id="arti"></span>
					</a-->

				</div>

				<!--div id="other">

					<a href="#"><span id="bulut"></span></a>
					<a href="#"><span id="yorum"></span><div id="yorum_sayi">7</div></a>
					<a href="#"><span id="zil"></span></a>
					<a href="#"><span id="wordpress"></span></a>

				</div-->

			</div>

			<!--div-- id="body"> <!--jadval--



				<!div id="b_left">

					<h3 class="bl_title">Statuses:</h3>

					<div id="bl_1">

						<h4 class="bll_title"></h4>

						<div class="dots"></div>

						<div id="bll_1">

							<ul>
								<li>179</li>
								<li>13</li>
								<li>21</li>
								<li>305</li>
							</ul>

						</div>

						<div id="bll_2">

							<ul>
								<li>Yazılar</li>
								<li>Sayfalar</li>
								<li>Kategoriler</li>
								<li>Etiketler</li>
							</ul>

						</div>


					</div>

					<div id="bl_2">

						<h4 class="bll_title">Tartışmalar</h4>

						<div class="dots"></div>

						<div id="blc_1">

							<ul>
								<li>353</li>
								<li>319</li>
								<li>0</li>
								<li>34</li>
							</ul>

						</div>

						<div id="blc_2">

							<ul>
								<li class="blue">Yorumlar</li>
								<li class="green">Onaylı</li>
								<li class="orange">Bekleyen</li>
								<li class="red">Gereksiz</li>
							</ul>

						</div>
					</div>

					<!--div id="theme_notice">
						<font class="blue">3 Bileşen</font> ile <font class="blue">Twenty Eleven</font> teması
					</div-->

				</div-->

				<!--div id="b_right"><-- jadvalha

					<h3 class="bl_title">Hızlı Yayınla</h3><--inputha>

					<div id="i_title">
						<input type="text" name="i_title" placeholder="Başlık"/>
					</div>

					<div id="i_save">
						<ul>
							<li><a href="#"><img src="/static/media/panelimg/resim.png" alt="Resim Ekle"/></a></li>
							<li><a href="#"><img src="/static/media/panelimg/video.png" alt="Video Ekle"/></a></li>
						</ul>
					</div>

					<div id="i_content">
						<input type="i_content" name="i_content" placeholder="İçerik"/>
					</div>

					<div id="i_tags">
						<input type="i_tags" name="i_tags" placeholder="Etiketler"/>
					</div>

					<div id="i_publish">
						<ul>
							<li><button id="save"></button></li>
							<li><button id="del"></button></li>
							<li><button class="publish">Yayınla</button></li>
						</ul>
					</div>>

				</div-->

			</div>

			<!--div id="footer">

				<div id="f_left">
					Asif Aleem tarafından yapılan ücretsiz admin paneli teması.<br />
					<font style="font-size:11px;color:#666666;"><a href="http://www.prototurk.com" style="color:#eb5440;" target="_blank">Prototürk.com</a> adına <a href="http://prototurk.com/member.php?416-anibor" target="_blank" title="anibor'un Prototürk hesabı" style="font-weight:bold;color:#eb5440;">anibor</a> tarafından kodlanmıştır.</font>
				</div>

				<div id="f_right">
					<ul>
						<li><a href="http://anibor.digeryuzu.com"><span id="user"><font>anibor</font></span></a></li>
						<li><a href="#"><span id="setting"></span></a></li>
						<li><a href="#"><span id="exit"></span></a></li>
					</ul>
				</div>

			</div--><!--footer-->

		</div>

	</div>
</body>
</html>
